body {
    background-color: #E6D5B8;
    text-align: center;
    color: #5A9367;
}

h1 {
    color:#2E7D32;
    border-bottom: 5px solid blanchedalmond;
    width: 200px;
    margin:10px auto;
}

h4.ingre {
    border-bottom: 5px double #2E7D32;
    width: 100px;
    margin: 10px auto;
}

ul {
    border: 6px solid rgb(110, 76, 2);
    width: 310px;
    height: 280px;
    list-style-type: none;
    margin: 10px auto;
    padding: 5px 0px;
}

h4.step {
    border-bottom: 5px double #2E7D32;
    width: 100px;
    margin: 10px auto;
}

ol {
    border: 5px solid rgb(110, 76, 2);
    width: 400px;
    height: 170px;
    margin: 10px auto;
}
