body {
    background-color: wheat;
    background-size: auto;
    font-size: 16px;
    text-align: center;
}

h1 {
    color: rgb(199, 138, 81);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sakses {
    background-color: rgba(153, 142, 117, 0.562);
    color:antiquewhite;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: 850px;
}
a.ulam{
    color: brown;
}
